.cart-loader {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-order {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.no-head {
  font-size: 32;
  font-weight: 500;
  color: #1e293b;
  margin-bottom: 0px;
}
.no-para {
  font-size: 16px;
  color: #64748b;
  font-weight: 400;
}
.no-para2 {
  font-size: 16px;
  color: #64748b;
  font-weight: 400;
  text-align: center;
}

.no-button {
  background-color: #f7931e;
  border: 0px;
  border-radius: 8px;
  color: white;
  padding: 5px;
  width: 93px;
}
.no-image {
  width: 25%;
  margin-bottom: 10px;
}
.payment-button {
  background-color: #f7931e;
  border: 0px;
  border-radius: 8px;
  color: white;
  padding: 5px;
  width: 131px;
}
.food-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.food-in {
  background-color: #f9fbfe;
  width: 70%;
  border: 1px solid #0b69ff1a;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.food-unorder {
  list-style-type: none;
  padding-left: 0px;
}
.food-line {
  border: 1px dashed #cbd2d9;
}
.food-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3e4c59;
  font-size: 24px;
  font-weight: 500;
  height: 60px;
}
.place-button {
  background-color: #f7931e;
  color: white;
  border: 0px;
  border-radius: 8px;
  padding: 10px;
}
.place-container {
  text-align: right;
}
